<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:dc="http://purl.org/dc/elements/1.1/title">
  <a rel="license" href="{{ this_license.uri }}">
    <img alt="{% trans %}Creative Commons License{% endtrans %}"
         style="border-width:0" src="{{ this_license.logo }}" />
  </a>
  <br/>

  {% block header %}
  {% endblock %}

  {% if source_work %}
    {% trans %}
      Based on a work at
      <a xmlns:dc="http://purl.org/dc/elements/1.1/"
         href="{{ source_work }}" rel="dc:source">{{ source_work }}</a>.
    {% endtrans %}
  {% endif %}

  {% if more_permissions_url %}
    <br />
    {% trans %}
      Permissions beyond the scope of this license may be available at
      <a xmlns:cc="http://creativecommons.org/ns#"
         href="{{ more_permissions_url }}"
         rel="cc:morePermissions">
        {{ more_permissions_url }}</a>.
    {% endtrans %}
  {% endif %}
</html>
